META_APP_ID=YOUR_META_APP_ID
META_APP_SECRET=YOUR_META_APP_SECRET
META_VERIFY_TOKEN=YOUR_VERIFY_TOKEN
META_PAGE_ACCESS_TOKEN=YOUR_PAGE_ACCESS_TOKEN
META_IG_BUSINESS_ID=YOUR_IG_BUSINESS_ID


YOUTUBE_API_KEY=YOUR_YOUTUBE_API_KEY
YOUTUBE_CHANNEL_ID=YOUR_CHANNEL_ID


SLACK_WEBHOOK_URL=YOUR_SLACK_WEBHOOK


GOOGLE_SHEETS_ID=YOUR_SHEET_ID
GOOGLE_SERVICE_EMAIL=service-account@your-project.iam.gserviceaccount.com
GOOGLE_SERVICE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\\n...\\n-----END PRIVATE KEY-----\\n"
TIMEZONE=America/New_York
PORT=3000